.Country {
    width: 80%;
    margin: 4px;
    padding: 4px;
    border-radius: 3px;
    background: #ffffff;
    box-shadow: 1px 1px 2px #797979;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease all;
    height: 100%;
}
.Country:hover {
        transition: 0.3s ease all;
        box-shadow: 1px 1px 2px #020202;
        background-color: #e6e6e6;
        
    }


.item1 {
    text-align: center;
    font-family: monospace;
    width: 30%;
    font-size: xx-large;
    font-weight: bold;

}
.item2{

    object-fit:cover;
    width: 40%;
    border-color: #020202 ;
    border-style: solid;
    border-width: 0,1rem;

}
.item3{
    text-align: center;
    width: 15%;
    font-family: monospace;
    font-size: x-large;
    font-weight: 500;
}
.item4{
    width: 15%;
    border-style: solid;
    border-radius: 1rem;
    border-width: 0.1rem;
    background-color: #ffffff;
    border-color: black;

}
.item4:hover{
    transition: 0.3s ;
        box-shadow: 1px 1px 2px #020202;
        background-color: black;
        color: #ffffff;
        cursor:grab

}
    

    

