.container{
	width: 100%;
	position: fixed;
    display: flex;
    justify-content: center;
    margin-top: 6rem;
}
.searchBar{
    margin-top: 4rem;
    position: fixed;
    display:flex;
    justify-content: center;
}
.searchBar input{
    border-radius: 1rem;
    border-color: black;
    border-width: 1px;
    padding: 0.3rem 0.3rem;

}
.searchBar button{
    display: block;

    padding: 0.3rem 0.5rem;


    font-family: monospace;
    font-size: 1vw;
    font-weight: 600;

    
    background-color: black;
    color: white;
    border-style: solid;
    border-color: white;
    border-radius: 1rem;


}
.searchBar button:hover{
    background-color: white;
    border-color: black;
    color: black;

}



.container select {

	appearance: none;
    width: 150px;
    


	cursor: pointer;
  	padding: 7px 15px;
  	height: 42px;
	border-radius: 0;
    background-color: black;
	font-size: 1em;
	color: white;
	font-family: monospace;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 0.5rem;
    position: relative;
    transition: all 0.25s ease;

}

.container select::-ms-expand {
    display: none;
}

.container select:hover{
    cursor: pointer;
    background-color: white;
    border-color:black;
    color:black;

}


